@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(17, 17, 17);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-color:#F6FEF4B0;
  --clean-green: #89ff9fcd
}

.tools {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  background-color: #70fe8c1b;
  padding: 1px 8px;
  border-radius: 20px;
  color: var(--clean-green);
  font-size: calc(14 * 1);
}
.social-links a {
  background-color: #19231B80;
  color: var(--clean-green);
  box-shadow: inset 0 0 1px #77fd925d;
}
.social-links {
  display: flex;
  background-color: #19231B80;
  align-items: center;
  border: 0.005cap solid var(--clean-green);
  cursor: pointer;
  color: var(--clean-green);

  padding: 3px 10px;
  border-radius: 18px;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: min(2px, max(1px, 0.05em));
  text-underline-offset: calc(0.025em + 2px);
  text-decoration-color: #68ff8b3b;
}
.social-links  :hover{
  filter: brightness(87%);
}

.tools-used{
  background-color: #F4F5F312;
  border-radius: 20px;
  color: var(--text-color);
  padding: 2px 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.extra-link:hover{
  text-decoration: underline;
  text-decoration-color: #1d9a38bd;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}